@import "tailwindcss";

/* @media (prefers-color-scheme: dark) { */
/*     :root { */
/*         --background: #0a0a0a; */
/*         --foreground: #ededed; */
/*     } */
/* } */

@theme {
    --color-blue: rgb(12, 59, 130);
    --color-indigo: rgb(24, 12, 130);
    --color-purple: rgb(83, 12, 130);

    --font-roboto: 'Roboto', 'sans-serif';
    --font-archivo: "Archivo Black", sans-serif;

    /* TODO:  add custom width */
    /* --content-width: 130vh; */
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    margin: 0;
    padding: 0;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -ms-overflow-style: none;
    scrollbar-width: none;

    /* scrollbar-gutter: stable; */
}

:root::-webkit-scrollbar {
    display: none;
}

/* ::-webkit-scrollbar { */
/*     width: 12px; */
/* } */
/* ::-webkit-scrollbar-track { */
/*     background: var(--color-black); */
/* } */
/* ::-webkit-scrollbar-thumb { */
/*     border: 4px solid var(--color-black); */
/*     width: 6px; */
/*     background: var(--color-main); */
/*     border-radius: 10px; */
/* } */
/* ::-webkit-scrollbar-thumb:hover { */
/*     background: var(--color-purple); */
/* } */

:root {
    --loader-width: 300px;
    --loader-shrink: calc(1 / sqrt(2));
    --loader-duration: 5s;
    --loader-acc: 0.8;
}

#bg-loader .bg-loader-square:nth-child(1) {
    --i: 1;
}

#bg-loader .bg-loader-square:nth-child(2) {
    --i: 2;
}

#bg-loader .bg-loader-square:nth-child(3) {
    --i: 3;
}

#bg-loader .bg-loader-square:nth-child(4) {
    --i: 4;
}

#bg-loader .bg-loader-square:nth-child(5) {
    --i: 5;
}

#bg-loader .bg-loader-square:nth-child(6) {
    --i: 6;
}

.bg-loader-square {
    --size: calc(var(--loader-width) * pow(var(--loader-shrink), var(--i) - 1));

    position: absolute;
    top: 50%;
    left: 50%;
    outline: 4px solid var(--color-indigo);
    translate: -50% -50%;
    width: var(--size);
    height: var(--size);
    animation: var(--animate-spin);
    animation-duration: calc(var(--loader-duration) * pow(var(--loader-acc), var(--i) - 1));
}
